<launch>

  <!-- Load URDF -->
  <param name="robot_description"
         textfile="$(find dm_ht_controller)/urdf/dm_arm.urdf"/>

  <!-- robot_state_publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <!-- 启动硬件控制器 -->
  <include file="$(find dm_ht_controller)/launch/dm_controller.launch"/>

  <!-- MoveIt 控制器 YAML -->
  <rosparam file="$(find dm_arm_moveit_config)/config/ros_controllers.yaml" command="load"/>

  <!-- 启动 move_group -->
  <include file="$(find dm_arm_moveit_config)/launch/move_group.launch"/>

  <!-- 启动 RViz 并使用 MoveIt 的配置 -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find dm_arm_moveit_config)/launch/moveit.rviz"/>

</launch>
